@using Common
<div class="palette-grid mt-2">
    @* Loop through NES palette colors *@
    @for (int i = 0; i < NesColorsUtils.FullNesPalette.Length; i++)
    {
        var color = NesColorsUtils.HexColorIndexToNesColor(i);

        <div class="color-cell no-select" style="background-color:@color.ColorHexString"
             @onclick="() => OnAddToPaletteClick(color)"></div>
    }
</div>

@code {

    [Parameter]
    public NesColor? SelectedColor { get; set; }

    [Parameter]
    public EventCallback<NesColor> SelectedColorChanged { get; set; }

    protected void OnAddToPaletteClick(NesColor selectedColor) => SelectedColorChanged.InvokeAsync(selectedColor);
       
}
